
{
    "MailSMTPServer"    :   "mail.server.com",
    "MailSMTPPort"      :   "587",
    "MailUser"          :   "user@mail.com",
    "MailPass"          :   "plaintext_password",
    "MailRecipient"     :   "recipient@mail.com",
    "MailSender"        :   "sender@mail.com",
    "Symbols"           :   ["NASDAQ:GOOGL", "NYSE:BLK"] //Format: exhange:stock
    "UpdateInterval"    :   "100", // in seconds
    "TimeZone"          :   "America/New_York",
    "MySQLUser"         :   "mysql_user",
    "MySQLPass"         :   "mysql_password",
    "MySQLHost"         :   "mysql_ip",
    "MySQLPort"         :   "mysql_port" 
    "MySQLDB"           :   "mysql_database" 
    "TelegramBotApi"    :   "telegram:apiToken"
}
